.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 10px;
    }
    + .disabled {
        pointer-events: none;
        opacity: 0.7;
    }
}
//type btn
.primary {
    background-color: var(--primary-color);
    color: var(--white);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #07689f;
    }
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background-color: rgba(43, 122, 233, 0.06);
    }
}
.text {
    &:hover {
        text-decoration: underline;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

//size btn
.medium {
    width: 300px;
}
.small {
    width: 100px;
}
