.wrapper {
    margin-top: 15px;
}

.row {
    display: flex;
    width: 1400px;
}
.col-7 {
    flex: 1;
    margin-right: 350px;
    .wrap-content {
        width: 800px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;

        .title-content {
            margin-bottom: 40px;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            max-width: 100%;
            word-wrap: break-word;
        }
        .content {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2;
            img {
                max-width: 800px;
                height: auto;
                display: block; /* Để tránh khoảng trắng dưới ảnh */
                margin: 0 auto; /* Canh giữa ảnh trong trường hợp ảnh không đạt đủ chiều rộng */
            }
        }
    }
}
.col-3 {
    width: 350px;
    position: fixed;
    right: 20px;
    .wrap-user {
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-width: 1px solid #ccc;
        margin-bottom: 10px;
        .img-user {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            margin-right: 10px;
        }

        .wrap-info {
            display: flex;
            flex-direction: column;
            .name-user {
                font-size: 1.6rem;
                font-weight: 500;
            }
            .date-post {
                font-size: 1.4rem;
                font-weight: 400;
                color: #999;
            }
        }
    }
    .btn-join {
        width: 90%;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 40px;
    }
    .joined {
        margin-left: 40px;
        height: 40px;
        background-color: #00b14f;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .message {
            color: #fff;
            margin-right: 40px;
            font-size: 1.6rem;
        }
        .icon-message {
            color: #fff;
        }
    }
}
.wrap-action {
    margin-top: 10px;
    margin-left: 100px;
    height: 50px;
    width: 50%;
    // background-color: #ccc;
    display: flex;
    justify-content: space-between;
    .wrap-btn {
        display: flex;
        align-items: center;
        .btn-icon {
            color: #ccc;
            width: 20px;
            height: 20px;
            font-weight: 300;
            cursor: pointer;
            transition: color 0.2s ease;
        }
        .btn-icon.liked {
            color: red;
        }
        .count {
            font-size: 1.6rem;
            font-weight: 500;
            color: #999;
            margin-left: 10px;
        }
    }
}

// modal
.modal {
    width: 700px;
    height: 100%;
    position: fixed;
    right: 0; /* Đặt modal ở phía bên phải */
    overflow-y: auto;
    overflow-x: hidden;
    animation: slideInFromRight 0.3s ease forwards; /* forwards để giữ modal ở trạng thái cuối cùng của animation sau khi kết thúc */
    .comment-root,
    .comment-chilren {
        margin-top: 30px;
        width: 100%;
        display: flex;
        .wrap-all-comment {
            display: flex;
        }
        .img-user {
            width: 40px;
            height: 40px;
            border-radius: 1000px;
            object-fit: cover;
            margin-left: 10px;
        }
        .wrap-content-comment {
            padding: 5px;
            height: auto; // Thiết lập chiều cao tự động
            background-color: #f2f3f5;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            .name-comment {
                font-size: 1.6rem;
                font-weight: 600;
                margin-left: 10px;
            }

            .content-comment {
                font-size: 1.4rem;
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
                word-wrap: break-word; /* Xuống hàng nếu văn bản vượt quá chiều ngang */
            }
        }
    }
    .comment-root {
        display: flex;
        flex-direction: column;
    }
    .comment-chilren {
        margin-left: 70px;
        padding: 10px 10px;
        margin-top: -8px;
    }
}
.wrap-all-info {
    margin-left: 10px;
}
.action-comment {
    margin-top: 5px;
    width: 100px;
    display: flex;
    justify-content: space-around;

    .like,
    .comment {
        font-size: 1.4rem;
        color: var(--primary-color);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.more-comment {
    width: 150px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 74px;
    .hide-show {
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
    }
    .icon-hide-show {
        margin-left: 5px;
        cursor: pointer;
    }
}
@keyframes slideInFromRight {
    from {
        transform: translateX(100%) scaleX(0);
    }
    to {
        transform: translateX(0) scaleX(1);
    }
}

.wrap-input-comment {
    max-height: 100px;
    display: flex;
    flex-direction: column;

    .img-user-input {
        border-radius: 10000px;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .wrap-img-input {
        display: flex;
    }
    .wrap-input {
        padding: 10px;
        border-radius: 10px;
        background-color: var(--input-color);
        width: 500px;
        .input-comment {
            width: 500px;
            max-height: 100px;
            background-color: transparent;
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            resize: none;
            border: none;
            outline: none;
        }

        .icon-send-comment {
            opacity: 0.5;
            float: right;
            margin-right: 10px;
            cursor: pointer;
            &:hover {
                opacity: 0.2;
            }
        }
    }
}
.wrap-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    .btn-cancle {
        margin-top: 10px;
        height: 40px;
    }
    .btn-submit {
        margin-top: 10px;
        height: 40px;
        font-size: 1.4rem;
        background-color: var(--primary-color);
        color: #fff;
        margin-left: 0px;
    }
}
.wrap-all-time {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin-left: 40px;
    .title-time {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .wrap-time {
        display: flex;
        width: 50%;
        align-items: center;
        margin-top: 10px;
        .icon-time {
            margin-right: 10px;
            color: var(--primary-color);
        }
    }
    .wrap-date {
        display: flex;
        width: 80%;
        align-items: center;
        margin-top: 10px;
        .icon-time {
            margin-right: 10px;
            color: var(--primary-color);
        }
    }
}

.modal-join {
    width: 600px;
    .modal-content {
        margin-left: 50px;
        .wrap-title-input {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            .title {
                font-size: 1.6rem;
                font-weight: 500;
                margin-left: 10px;
            }
            .wrap-input {
                background-color: var(--input-color);
                padding: 8px;
                border-radius: 10px;
                width: 250px;
                input {
                    background-color: transparent;
                    width: 100%;
                    margin-left: 10px;
                }
            }
        }
    }
}
// list modal
.list-modal {
    width: 90%;
    min-height: 50%;
    .wrap-content-list {
        padding: 10px;
    }
}
