.wrapper {
    margin-top: 10px;
    margin-right: 10px;
}

//table
.wrap-table {
    width: 95%;
    height: 580px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}
