.wrapper {
    display: flex;
}

.left-side-box-chat {
    width: 350px;
    min-height: 600px;
    border-right: 1px solid #ccc;
    padding: 20px;
    .wrap-btn {
        display: flex;
        align-items: center;

        .btn-plus {
            height: 40px;
            width: 40px;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

.wrap-all-user {
    max-height: 580px;
    overflow-y: auto;
    overflow-x: hidden;

    .user-chat-comp {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f0f0f0;
        }

        .img-user {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .info-user {
            flex: 1;

            .name-user {
                font-weight: bold;
                font-size: 1.2rem;
            }

            .last-message {
                color: #888;
                font-size: 0.9rem;
            }
        }
    }
}

.right-side-chat-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.header-chat {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

    .img-header-chat {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .name-header-chat {
        font-size: 1.8rem;
        font-weight: 700;
    }
}
.content-message {
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    .member-content-chat {
        display: flex;
        align-items: center;
        margin-left: 10px;
        padding: 10px;
        margin-top: 10px;

        .chat-text {
            margin-left: 10px;
            text-align: start;
            max-width: 50%;

            background-color: var(--primary-color);
            padding: 10px;
            color: #f0f0f0;
            border-radius: 20px;
        }
    }
    .my-content-chat {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: 10px;
        margin-top: 10px;
        .chat-text {
            margin-left: 10px;
            text-align: start;
            background-color: #ccc;
            padding: 10px;
            max-width: 50%;
            margin-right: 10px;
            color: #000;
            border-radius: 20px;
        }
    }
}

.footer-chat {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #dbdcff;
    border-radius: 10px;
    margin-top: 10px;
}

.input-footer {
    background-color: transparent;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
}

.btn-footer {
    background-color: transparent;
    width: 50px;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.wrap-search {
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 10px;
    height: 40px;
    border-radius: 10px;
    background-color: #dbdcff;
}

.icon-search {
    margin-left: 10px;
    font-size: 1.8rem;
}

.input-search {
    background-color: transparent;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
    border: none;
    outline: none;
}
// modal
.wrap-modal {
    width: 400px;
    display: flex;
    flex-direction: column;
    .search-result {
        width: 400px;
    }
    .title {
        text-align: center;
        font-size: 2.5rem;
    }
    .modal-wrap-input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        background-color: #dbdcff;
        display: flex;
        align-items: center;
    }
    .btn-submit {
        width: 100%;
    }
    .title-add {
        font-size: 1.6rem;
        font-weight: 500;
    }
    .wrap-user-added {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        height: 300px;
        max-height: 300px;
        overflow-y: auto;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .wrap-user-added::-webkit-scrollbar {
        width: 8px; /* Chiều rộng của thanh cuộn */
    }

    .wrap-user-added::-webkit-scrollbar-thumb {
        background-color: #ccc; /* Màu nền của thanh cuộn */
        border-radius: 5px; /* Bo tròn góc của thanh cuộn */
    }

    .wrap-user-added::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Màu nền của phần track thanh cuộn */
    }
}
.img-user-chat {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.user-profile {
    position: relative;
    display: inline-block; /* Đảm bảo phần tử không chiếm toàn bộ hàng */
}
.username-overlay {
    position: absolute;
    bottom: -30px; /* Hiển thị tên phía dưới ảnh */
    left: 140%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 20px; /* Làm tròn góc của hộp chứa tên */
    opacity: 0; /* Ẩn tên ban đầu */
    transition: opacity 0.3s ease-in-out; /* Hiệu ứng khi hiển thị */
}

.user-profile:hover .username-overlay {
    opacity: 1; /* Hiển thị tên khi hover vào user-profile */
}
.user-profile {
    position: relative;
    display: inline-block; /* Đảm bảo phần tử không chiếm toàn bộ hàng */
}
.username-overlay {
    position: absolute;
    bottom: -30px; /* Hiển thị tên phía dưới ảnh */
    left: 140%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 20px; /* Làm tròn góc của hộp chứa tên */
    opacity: 0; /* Ẩn tên ban đầu */
    transition: opacity 0.3s ease-in-out; /* Hiệu ứng khi hiển thị */
}

.user-profile:hover .username-overlay {
    opacity: 1; /* Hiển thị tên khi hover vào user-profile */
}
.wrap-all-actions {
    width: 150px;
    position: absolute;
    bottom: 85px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    .wrap-actions {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .actions-icon {
            font-size: 1.6rem;
            font-weight: 500;
            margin-right: 10px;
        }
    }
}

//modal task
.wrap-task-modal {
    width: 500px;
}
.wrap-input {
    border-bottom: #ccc 1px solid;
    input {
        width: 100%;
        height: 40px;
        font-size: 1.6rem;
    }
}
.wrap-all-dpk {
    display: flex;
    width: 90%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.wrap-datepicker {
    width: 120px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.datepicker {
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}
.title-task {
    font-size: 1.6rem;
    font-weight: 500;
}
.wrap-members {
    display: flex;
    align-items: center;
}
.wrap-input-member {
    flex: 1;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    input {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
}
.wrap-description {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.wrap-members-selected {
    margin-left: 90px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    .hover-member {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .member {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img-member {
            height: 20px;
            width: 20px;
            border-radius: 100000px;
            margin-right: 5px;
        }
        .name-member {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}
