.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    min-height: 620px;
    padding-top: 60px;
    display: flex;
}
.content {
    flex: 1;
    margin-left: 100px;
}
