.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 100%;
    display: flex;
}
.content {
    flex: 1;
    background-color: #ccc;
    margin-right: 10px;
}
