.wrapper-all {
    width: 100%;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search,
.search-result {
    width: 420px;
}
.search {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    &:focus-within {
        border: solid 1.5px #000;
    }
    input {
        height: 100%;
        border-radius: 15px;
        border: none;
        flex: 1;
        font-size: 1.4rem;
        margin-left: 5px;
    }
    &-icon {
        width: 40px;
        border-left: 1px solid #ccc;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.6rem;
        cursor: pointer;
        &:hover {
            color: #ccc;
        }
    }
}
.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}
.actions {
    margin-right: 10px;
}
.current-user {
    display: flex;
    align-items: center;
}
.action-icon {
    width: 20px;
    height: 20px;
    font-size: 1.4rem;
    margin-right: 15px;
    color: var(--icon-color);
    cursor: pointer;
    &:hover {
        color: #333;
    }
}
.img-user {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
//modal
.img-modal {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.container-modal {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-action {
    margin-top: 10px;
}
.btn-action {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.09);
    }
}
//tippy logout
.wrap-action-avatar {
    width: 150px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    .list-action {
        list-style: none;
        .item-action {
            cursor: pointer;
            margin-left: 20px;
            line-height: 30px;
            font-size: 1.6rem;
            font-weight: 500;
            margin-top: 10px;
            .text-link {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
//modal-form
.wrap-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .wrap-form-input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        border-radius: 10px;
        input {
            background-color: transparent;
            width: 100%;
            margin-left: 10px;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }
    .btn-form {
        width: 300px;
        height: 40px;
        background-color: #ccc;
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}
.text-btn {
    /* Đặt kiểu chữ cho phần tử h3 */
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 10px; /* Điều chỉnh khoảng cách giữa biểu tượng và văn bản */
}
.img-icon {
    width: 25px;
    height: 25px;
}
.img-icon-google {
    width: 30px;
    height: 30px;
}
.img-icon,
.img-icon-google {
    margin-left: 10px;
    margin-right: 20px;
}

.route-text-modal {
    margin-top: 40px;
    font-weight: 500;
}
.text-link-modal {
    color: #1494cb;
    background-color: transparent;
    font-size: 1.6rem;
    margin-left: 5px;
    cursor: pointer;
}
