.footer-container {
    background-color: #10182f;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative; /* Thay đổi từ fixed sang relative */
    margin-top: 20px; /* Đẩy footer xuống cuối */
}

.footer-content {
    width: 100%;
    margin: 0 auto;
}
