.wrapper {
    width: 100%;
    background-color: #fff;

    table,
    th,
    td {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    table {
        border-collapse: collapse;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }

    .table {
        width: 100%;
        margin: 10px auto;
        .table-header {
            height: 60px;
        }
        .table-body {
            tr {
                height: 60px;
                border-bottom: 1px solid #ddd;
                td {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 30px;
                    padding: 10px;
                    text-align: center;
                    max-width: 600px;
                    .action-btn {
                        width: 50px;
                        height: 50px;
                        background-color: transparent;
                        cursor: pointer;
                        .icon-btn {
                            font-size: 1.8rem;
                        }
                        .icon-edit {
                            color: #102a83;
                        }
                        .icon-delete {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}
.work-status {
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
}

.work-status-pending {
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.2);
    font-weight: 600;
}
.work-status-upcoming {
    color: rgba(255, 165, 0, 1);
    background-color: rgba(255, 165, 0, 0.2);
    font-weight: 600;
}
.work-status-done {
    color: rgb(104, 204, 4);
    background-color: rgba(124, 252, 0, 0.2);
    font-weight: 600;
}
.work-status-overdue {
    color: rgba(255, 0, 255, 1);
    background-color: rgba(255, 0, 255, 0.2);
    font-weight: 600;
}
.wrap-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .wrap-input-selector {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wrap-btn-selector {
            margin-left: 10px;
            .dropdown-menu {
                width: 150px;
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
                list-style: none;
                position: absolute;
                margin-top: 5px;
                padding: 5px;
                .dropdown-item {
                    cursor: pointer;
                    width: 100%;
                    height: 30px;
                    font-size: 1.6rem;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    &:hover {
                        background-color: rgba(219, 220, 255, 0.3);
                    }
                }
            }
        }
        .wrap-datepicker {
            width: 170px;
            height: 40px;
            border-radius: 10px;
            margin-left: 10px;
            border: 1px solid var(--primary-color);
            display: flex;
            align-items: center;
            .datepicker {
                background-color: transparent;
                cursor: pointer;
                font-size: 1.6rem;
                text-align: center;
                width: 100%;
                color: var(--primary-color);
            }
        }
    }
    .wrap-input {
        width: 250px;
        height: 20px;
        background-color: var(--input-color);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        .input-search {
            background-color: transparent;
            flex: 1;
        }
    }
}
.wrap-modal {
    display: flex;
    flex-direction: column;
    width: 500px;

    .modal-content {
        height: 80%;
        .wrap-input-modal {
            display: flex;
            align-items: center;
            height: 40px;
            border-bottom: 1px solid #ccc;
            margin-top: 10px;
            .input-modal {
                width: 100%;
                background-color: transparent;
                margin-left: 10px;
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
        .wrap-more {
            margin-top: 10px;
            .wrap-option {
                display: flex;
                .modal-components {
                    height: 40px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .icon {
                        margin-right: 20px;
                        font-size: 1.8rem;
                    }
                    .title {
                        font-size: 1.4rem;
                        font-weight: 500;
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.1);
                        text-align: center;
                        height: 30px;
                        border-radius: 10px;
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                    .custom-datepicker-popper {
                        font-size: 1.6rem;
                    }
                }
            }
            .desciption {
                width: 100%;
                height: 200px;
                outline: none;
            }
        }
    }
}
.title-content {
}
.desciption-content {
    width: 300px;
}
.btn-content {
    width: 100px;
}
