img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
p,
ul,
li {
    overflow-wrap: break-word;
    white-space: normal;
    text-align: left;
}
.customTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;

    th,
    td {
        max-width: 200px;
        white-space: normal; // Ngăn chặn quá trình tự động ngắt dòng
        overflow-wrap: break-word;
        border-bottom: 1px solid #ccc;
        border-top: none; /* Loại bỏ border top */
        text-align: center;
        padding: 20px;
    }

    tr:last-child td {
        border-bottom: none; /* Loại bỏ border dưới cho dòng cuối cùng */
    }
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
}

/* Điều chỉnh độ rộng của các ô trong bảng */
.customTable th {
    width: auto; /* Độ rộng tùy theo nội dung */
}

.customTable td {
    white-space: nowrap; /* Tránh quá trình trống với nội dung dài */
    overflow: hidden; /* Ẩn nội dung dài */
    text-overflow: ellipsis; /* Hiển thị dấu ba chấm (...) nếu nội dung quá dài */
}

/* Định dạng các biểu tượng trong nút hành động */
.actionButton svg {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.wrap-actions {
    display: flex;
    justify-content: space-around;
    .view-icon {
        color: green;
    }
    .edit-icon {
        color: rgb(7, 7, 118);
    }
    .delete-icon {
        color: red;
    }
}
.status-not-present {
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.2);
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}
.status-present {
    color: rgb(104, 204, 4);
    background-color: rgba(124, 252, 0, 0.2);
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
}
.imageView {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
}
.img-post {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: contain;
}
